.mediaViewInfo {
	--web-view-name: 웹 1920 – 1;
	--web-view-id: n_1920__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_1920__1 {
	position: absolute;
	width: 1920px;
	height: 17432px;
	background-color: rgba(255,255,255,1);
	overflow: auto;
	--web-view-name: 웹 1920 – 1;
	--web-view-id: n_1920__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
#n_1 {
	fill: rgba(0,0,0,1);
}
.n_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 17436px;
	left: 0px;
	top: -4px;
}
#n_74_q {
	opacity: 0.09;
	fill: url(#n_74_q);
}
.n_74_q {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1067px;
	left: 0px;
	top: 14768px;
}
#n_1_r {
	position: absolute;
	width: 179.072px;
	height: 142.143px;
	left: 542px;
	top: 161px;
	overflow: visible;
}
#I_am {
	left: 0px;
	top: 52.144px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Trattatello;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#n_1_t {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1_t {
	overflow: visible;
	position: absolute;
	width: 116.067px;
	height: 86.939px;
	left: 44.5px;
	top: 1.017px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-looks-one {
	fill: rgba(255,255,255,1);
}
.Icon_material-looks-one {
	overflow: visible;
	position: absolute;
	width: 27.143px;
	height: 27.144px;
	left: 151.928px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_1_v {
	filter: blur(47.146px);
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 8px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1_v {
	position: absolute;
	overflow: visible;
	width: 1401.873px;
	height: 1401.873px;
	left: -275px;
	top: -274px;
}
#n_4 {
	filter: blur(47.146px);
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 8px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_4 {
	position: absolute;
	overflow: visible;
	width: 1305.873px;
	height: 1305.872px;
	left: 1109px;
	top: -862px;
}
#Icon_material-looks-one_x {
	fill: rgba(255,255,255,1);
}
.Icon_material-looks-one_x {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 593.786px;
	top: 998px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2 {
	position: absolute;
	width: 1020.169px;
	height: 338px;
	left: 542px;
	top: 299.144px;
	overflow: visible;
}
#Web_designer_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 837px;
	white-space: nowrap;
	text-align: left;
	font-family: Zapfino;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(204,9,9,1);
}
#n_2_ {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2_ {
	overflow: visible;
	position: absolute;
	width: 201.346px;
	height: 2px;
	left: 802.249px;
	top: 137.265px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-looks-two {
	fill: rgba(255,255,255,1);
}
.Icon_material-looks-two {
	overflow: visible;
	position: absolute;
	width: 26.538px;
	height: 26.538px;
	left: 993.631px;
	top: 111.765px;
	transform: matrix(1,0,0,1,0,0);
}
#n_21 {
	position: absolute;
	width: 1587px;
	height: 641px;
	left: 166.5px;
	top: 16247px;
	overflow: visible;
}
#Web_designer__ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 1588px;
	white-space: nowrap;
	text-align: left;
	font-family: Zapfino;
	font-style: normal;
	font-weight: normal;
	font-size: 190px;
	color: rgba(204,9,9,1);
}
#Icon_material-looks-two_ {
	fill: rgba(255,255,255,1);
}
.Icon_material-looks-two_ {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 655.786px;
	top: 998px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3 {
	position: absolute;
	width: 1337.605px;
	height: 45px;
	left: 210.395px;
	top: 652.144px;
	overflow: visible;
}
#A_designer_who_knows_how_to_ma {
	left: 161.605px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 1177px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#n_3_ {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_3_ {
	overflow: visible;
	position: absolute;
	width: 163.245px;
	height: 2px;
	left: 18.361px;
	top: 25.24px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-looks-3 {
	fill: rgba(255,255,255,1);
}
.Icon_material-looks-3 {
	overflow: visible;
	position: absolute;
	width: 26.21px;
	height: 26.21px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-looks-3_ {
	fill: rgba(255,255,255,1);
}
.Icon_material-looks-3_ {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 797.786px;
	top: 998px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4_ba {
	position: absolute;
	width: 327.565px;
	height: 52.649px;
	left: 812px;
	top: 697.144px;
	overflow: visible;
}
#Let_me_introduce_myself {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 298px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#n_4_bc {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_4_bc {
	overflow: visible;
	position: absolute;
	width: 17.649px;
	height: 1px;
	left: 289.151px;
	top: 26.648px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-looks-4 {
	fill: rgba(255,255,255,1);
}
.Icon_material-looks-4 {
	overflow: visible;
	position: absolute;
	width: 26.531px;
	height: 26.531px;
	left: 301.035px;
	top: 26.118px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-looks-4_be {
	fill: rgba(255,255,255,1);
}
.Icon_material-looks-4_be {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 1147.642px;
	top: 998px;
	transform: matrix(1,0,0,1,0,0);
}
#intro {
	left: 127px;
	top: 1227px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#PROJETCT {
	left: 132px;
	top: 2645px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#PROJETCT_bh {
	left: 132px;
	top: 5354px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#PROJETCT_bi {
	left: 132px;
	top: 7597px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#PROJETCT_bj {
	left: 132px;
	top: 9942px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#PROJETCT_bk {
	left: 132px;
	top: 11898px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#PROJETCT_bl {
	left: 132px;
	top: 14066px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Exibtiion {
	left: 132px;
	top: 3362px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Exibtiion_bn {
	left: 132px;
	top: 6071px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Exibtiion_bo {
	left: 132px;
	top: 8314px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Exibtiion_bp {
	left: 132px;
	top: 10659px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Exibtiion_bq {
	left: 132px;
	top: 12615px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Exibtiion_br {
	left: 132px;
	top: 14707px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#n_02305 {
	left: 325px;
	top: 2659px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_02305_bt {
	left: 325px;
	top: 5368px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_02306 {
	left: 325px;
	top: 7611px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_02306_bv {
	left: 325px;
	top: 9956px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_02305_bw {
	left: 325px;
	top: 11912px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_02305_bx {
	left: 325px;
	top: 14080px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Plant_introduction_sales_site_ {
	left: 132px;
	top: 2753px;
	position: absolute;
	overflow: visible;
	width: 360px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#cosmetics_sales_site_design_ {
	left: 132px;
	top: 5462px;
	position: absolute;
	overflow: visible;
	width: 275px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Fashion_shopping_mall_site_des {
	left: 132px;
	top: 7705px;
	position: absolute;
	overflow: visible;
	width: 335px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#interior_site_Event_design {
	left: 132px;
	top: 10050px;
	position: absolute;
	overflow: visible;
	width: 250px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Mobile_website_design {
	left: 132px;
	top: 12006px;
	position: absolute;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Header_Ad_Edit_Image {
	left: 132px;
	top: 14174px;
	position: absolute;
	overflow: visible;
	width: 216px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Experience {
	left: 1137px;
	top: 1445px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Skills {
	left: 1137px;
	top: 1220px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Kim__jun_ku {
	left: 414px;
	top: 1373px;
	position: absolute;
	overflow: visible;
	width: 220px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(204,9,9,1);
}
#n_____ {
	left: 127px;
	top: 1604px;
	position: absolute;
	overflow: visible;
	width: 635px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Text {
	left: 619.214px;
	top: 996px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Text_b {
	left: 681.214px;
	top: 995px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#n__ {
	left: 823.214px;
	top: 995px;
	position: absolute;
	overflow: visible;
	width: 315px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#n___cb {
	left: 1173.071px;
	top: 995px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#n_2_cc {
	filter: blur(33.89px);
	fill: transparent;
	stroke: rgba(204,9,9,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2_cc {
	position: absolute;
	overflow: visible;
	width: 971.339px;
	height: 971.338px;
	left: 1126px;
	top: 214px;
}
#n_3_cd {
	opacity: 0.401;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_3_cd {
	position: absolute;
	overflow: visible;
	width: 768px;
	height: 768px;
	left: 1126px;
	top: 214px;
}
#n_5 {
	position: absolute;
	width: 183px;
	height: 27px;
	left: 1137px;
	top: 1502px;
	overflow: visible;
}
#n___cf {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 184px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_6 {
	position: absolute;
	width: 166px;
	height: 27px;
	left: 1137px;
	top: 1544px;
	overflow: visible;
}
#n___ch {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_7 {
	position: absolute;
	width: 394px;
	height: 27px;
	left: 1137px;
	top: 1586px;
	overflow: visible;
}
#n_50____ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 395px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_8 {
	position: absolute;
	width: 440px;
	height: 127px;
	left: 1137px;
	top: 1683px;
	overflow: visible;
}
#Education {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_5_cm {
	position: absolute;
	width: 265px;
	height: 28px;
	left: 0px;
	top: 56px;
	overflow: visible;
}
#n_01703_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_ {
	left: 91px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 175px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_7_cp {
	position: absolute;
	width: 440px;
	height: 28px;
	left: 0px;
	top: 99px;
	overflow: visible;
}
#n_02303__06 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#UIUX__ {
	left: 122px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 319px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Website_ {
	left: 380px;
	top: 2150.523px;
	position: absolute;
	overflow: visible;
	width: 482px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	color: rgba(255,255,255,1);
}
#Desgine {
	left: 1000px;
	top: 2150.523px;
	position: absolute;
	overflow: visible;
	width: 468px;
	white-space: nowrap;
	text-align: left;
	font-family: Cinzel Decorative;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	color: rgba(255,255,255,1);
}
#n_5_cu {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_5_cu {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 2px;
	left: 0px;
	top: 1998.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7_cv {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_7_cv {
	overflow: visible;
	position: absolute;
	width: 701.874px;
	height: 1px;
	transform: matrix(1,0,0,1,356.063,2996.0496) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_10 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_10 {
	overflow: visible;
	position: absolute;
	width: 701.874px;
	height: 1px;
	transform: matrix(1,0,0,1,356.063,5705.0493) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_12 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12 {
	overflow: visible;
	position: absolute;
	width: 701.874px;
	height: 1px;
	transform: matrix(1,0,0,1,356.063,7948.0493) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_14 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_14 {
	overflow: visible;
	position: absolute;
	width: 701.874px;
	height: 1px;
	transform: matrix(1,0,0,1,356.063,10293.0493) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_16 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_16 {
	overflow: visible;
	position: absolute;
	width: 701.874px;
	height: 1px;
	transform: matrix(1,0,0,1,356.063,12249.0493) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Adobe_XD_Adobe_Photoshop_Adobe {
	left: 325px;
	top: 2813px;
	position: absolute;
	overflow: visible;
	width: 256px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Adobe_XD_Adobe_Photoshop {
	left: 325px;
	top: 5522px;
	position: absolute;
	overflow: visible;
	width: 256px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Adobe_XD_Adobe_Photoshop_c {
	left: 325px;
	top: 7765px;
	position: absolute;
	overflow: visible;
	width: 256px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Adobe_XD_Adobe_Photoshop_da {
	left: 325px;
	top: 10110px;
	position: absolute;
	overflow: visible;
	width: 256px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Adobe_XD_Adobe_Photoshop_db {
	left: 325px;
	top: 12066px;
	position: absolute;
	overflow: visible;
	width: 256px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Adobe_XD_Adobe_Photoshop_dc {
	left: 325px;
	top: 14234px;
	position: absolute;
	overflow: visible;
	width: 256px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_00 {
	left: 325px;
	top: 2903px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_00_c {
	left: 325px;
	top: 5583px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_00_da {
	left: 325px;
	top: 7826px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_00_db {
	left: 325px;
	top: 10171px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_00_dc {
	left: 325px;
	top: 12127px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_00_dd {
	left: 325px;
	top: 14295px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dc {
	left: 325px;
	top: 2962px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dd {
	left: 325px;
	top: 5642px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__de {
	left: 325px;
	top: 7885px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__df {
	left: 325px;
	top: 10230px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dg {
	left: 325px;
	top: 12186px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dh {
	left: 325px;
	top: 14354px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__di {
	left: 132px;
	top: 2813px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dj {
	left: 132px;
	top: 5522px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dk {
	left: 132px;
	top: 7765px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dl {
	left: 132px;
	top: 10110px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dm {
	left: 132px;
	top: 12066px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dn {
	left: 132px;
	top: 14234px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__do {
	left: 132px;
	top: 2903px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dp {
	left: 132px;
	top: 5583px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dq {
	left: 132px;
	top: 7826px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dr {
	left: 132px;
	top: 10171px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__ds {
	left: 132px;
	top: 12127px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__dt {
	left: 132px;
	top: 14295px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_du {
	left: 132px;
	top: 2964px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_dv {
	left: 132px;
	top: 5644px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_dw {
	left: 132px;
	top: 7887px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_dx {
	left: 132px;
	top: 10232px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_dy {
	left: 132px;
	top: 12188px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_dz {
	left: 132px;
	top: 14356px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_d {
	left: 132px;
	top: 3024px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_ea {
	left: 132px;
	top: 5701px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_eb {
	left: 132px;
	top: 7944px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_ec {
	left: 132px;
	top: 10289px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_ed {
	left: 132px;
	top: 12245px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_ee {
	left: 132px;
	top: 14413px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__d {
	left: 325px;
	top: 3022px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__ea {
	left: 325px;
	top: 5699px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__eb {
	left: 325px;
	top: 7942px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__ec {
	left: 325px;
	top: 10287px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__ed {
	left: 325px;
	top: 12243px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__ee {
	left: 325px;
	top: 14411px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_____________________________ {
	left: 132px;
	top: 1692px;
	position: absolute;
	overflow: visible;
	width: 726px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__br {
	position: absolute;
	width: 700px;
	height: 520px;
	left: 891px;
	top: 2766px;
	overflow: visible;
}
#n__bs {
	position: absolute;
	width: 700px;
	height: 520px;
	left: 891px;
	top: 5475px;
	overflow: visible;
}
#n_- {
	position: absolute;
	width: 700px;
	height: 520px;
	left: 891px;
	top: 7718px;
	overflow: visible;
}
#n__bt {
	position: absolute;
	width: 700px;
	height: 520px;
	left: 891px;
	top: 10063px;
	overflow: visible;
}
#n__eh {
	position: absolute;
	width: 779px;
	height: 520px;
	left: 874px;
	top: 14187px;
	overflow: visible;
}
#n__bu {
	position: absolute;
	width: 700px;
	height: 520px;
	left: 891px;
	top: 12019px;
	overflow: visible;
}
#n_8_ej {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_8_ej {
	overflow: visible;
	position: absolute;
	width: 1604.446px;
	height: 1px;
	left: 132px;
	top: 2718.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_9 {
	overflow: visible;
	position: absolute;
	width: 1604.446px;
	height: 1px;
	left: 132px;
	top: 5427.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_11 {
	overflow: visible;
	position: absolute;
	width: 1604.446px;
	height: 1px;
	left: 132px;
	top: 7670.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_13 {
	overflow: visible;
	position: absolute;
	width: 1604.446px;
	height: 1px;
	left: 132px;
	top: 10015.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_15 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_15 {
	overflow: visible;
	position: absolute;
	width: 1604.446px;
	height: 1px;
	left: 132px;
	top: 11971.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_17 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_17 {
	overflow: visible;
	position: absolute;
	width: 1604.446px;
	height: 1px;
	left: 132px;
	top: 14139.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_ep {
	position: absolute;
	width: 220px;
	height: 48px;
	left: 132px;
	top: 3145px;
	overflow: visible;
	cursor: pointer;
}
#n_3_eq {
	fill: rgba(29,29,29,1);
	cursor: pointer;
}
.n_3_eq {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 48px;
	left: 0px;
	top: 0px;
	cursor: pointer;
}
#Style_Guide_ {
	left: 56px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#n_11_es {
	position: absolute;
	width: 220px;
	height: 48px;
	left: 132px;
	top: 5811px;
	overflow: visible;
	cursor: pointer;
	cursor: pointer;
}
#n_3_et {
	fill: rgba(29,29,29,1);
	cursor: pointer;
	cursor: pointer;
}
.n_3_et {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 48px;
	left: 0px;
	top: 0px;
	cursor: pointer;
}
#Style_Guide__eu {
	left: 56px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#n_17_ev {
	position: absolute;
	width: 220px;
	height: 48px;
	left: 132px;
	top: 12355px;
	overflow: visible;
}
#n_3_ew {
	fill: rgba(29,29,29,1);
}
.n_3_ew {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Style_Guide__ex {
	left: 56px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#n_10_ey {
	position: absolute;
	width: 220px;
	height: 48px;
	left: 132px;
	top: 3224px;
	overflow: visible;
}
#n_4_ez {
	fill: rgba(29,29,29,1);
}
.n_4_ez {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Web_Site {
	left: 70px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#n_12_e {
	position: absolute;
	width: 220px;
	height: 48px;
	left: 132px;
	top: 5890px;
	overflow: visible;
}
#n_4_e {
	fill: rgba(29,29,29,1);
}
.n_4_e {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Web_Site_e {
	left: 70px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#n_14_e {
	position: absolute;
	width: 220px;
	height: 48px;
	left: 132px;
	top: 8133px;
	overflow: visible;
}
#n_4_fa {
	fill: rgba(29,29,29,1);
}
.n_4_fa {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Web_Site_fa {
	left: 70px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#n_16_e {
	position: absolute;
	width: 220px;
	height: 48px;
	left: 132px;
	top: 10478px;
	overflow: visible;
}
#n_4_fb {
	fill: rgba(29,29,29,1);
}
.n_4_fb {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Web_Site_fb {
	left: 70px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#n_18 {
	position: absolute;
	width: 220px;
	height: 48px;
	left: 132px;
	top: 12434px;
	overflow: visible;
}
#n_4_fc {
	fill: rgba(29,29,29,1);
}
.n_4_fc {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Web_Site_fc {
	left: 70px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#n_2_fd {
	position: absolute;
	width: 1920px;
	height: 733px;
	left: 0px;
	top: 3439px;
	overflow: visible;
}
#n__fe {
	position: absolute;
	width: 1920px;
	height: 733px;
	left: 0px;
	top: 6606px;
	overflow: visible;
}
#n__ff {
	position: absolute;
	width: 1920px;
	height: 733px;
	left: 0px;
	top: 8391px;
	overflow: visible;
}
#Rectangle {
	position: absolute;
	width: 1543px;
	height: 589px;
	left: 132px;
	top: 10736px;
	overflow: visible;
}
#n_2_fh {
	position: absolute;
	width: 1748px;
	height: 667px;
	left: 172px;
	top: 12654px;
	overflow: visible;
}
#Rectangle_fi {
	position: absolute;
	width: 540px;
	height: 650px;
	left: 132px;
	top: 4378px;
	overflow: visible;
}
#Rectangle_fj {
	position: absolute;
	width: 278px;
	height: 537px;
	left: 441px;
	top: 6764px;
	overflow: visible;
}
#Rectangle_fk {
	filter: drop-shadow(5px 0px 20px rgba(0, 0, 0, 0.675));
	position: absolute;
	width: 278px;
	height: 537px;
	left: 346px;
	top: 6644px;
	overflow: visible;
}
#n_UI {
	filter: drop-shadow(5px 0px 20px rgba(0, 0, 0, 0.675));
	position: absolute;
	width: 454px;
	height: 875px;
	left: 506px;
	top: 12694px;
	overflow: visible;
}
#Rectangle_fm {
	filter: drop-shadow(5px 0px 20px rgba(0, 0, 0, 0.659));
	position: absolute;
	width: 293px;
	height: 611px;
	left: 132px;
	top: 6751px;
	overflow: visible;
}
#n_UI_fn {
	filter: drop-shadow(5px 0px 20px rgba(0, 0, 0, 0.659));
	position: absolute;
	width: 478px;
	height: 997px;
	left: 296px;
	top: 12814px;
	overflow: visible;
}
#n_UI_fo {
	filter: drop-shadow(5px 0px 20px rgba(0, 0, 0, 0.659));
	position: absolute;
	width: 478px;
	height: 997px;
	left: 86px;
	top: 12967px;
	overflow: visible;
}
#n__fp {
	position: absolute;
	width: 1920px;
	height: 458px;
	left: 0px;
	top: 6148px;
	overflow: visible;
}
#n_3_fq {
	position: absolute;
	width: 1920px;
	height: 458px;
	left: 0px;
	top: 9162px;
	overflow: visible;
}
#n_3_fr {
	position: absolute;
	width: 1920px;
	height: 458px;
	left: 0px;
	top: 11354px;
	overflow: visible;
}
#Rectangle_fs {
	position: absolute;
	width: 523px;
	height: 908px;
	left: 1213px;
	top: 8712px;
	overflow: visible;
}
#Rectangle_ft {
	filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.365));
	position: absolute;
	width: 523px;
	height: 908px;
	left: 1020px;
	top: 8547px;
	overflow: visible;
}
#Rectangle_fu {
	filter: drop-shadow(5px 10px 40px rgba(0, 0, 0, 0.675));
	position: absolute;
	width: 540px;
	height: 577px;
	left: 346px;
	top: 4312px;
	overflow: visible;
}
#Rectangle_fv {
	filter: drop-shadow(5px 10px 30px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 540px;
	height: 650px;
	left: 215px;
	top: 4172px;
	overflow: visible;
}
#n_20 {
	position: absolute;
	width: 1747px;
	height: 78px;
	left: 86px;
	top: 17259px;
	overflow: visible;
}
#Kakao_Talk_Phone_Number {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Email_ {
	left: 0px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#rlawnsrn901navercom {
	left: 192px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 236px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n___ {
	left: 1467px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 281px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#kkk958_010_8933_9583 {
	left: 192px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Kodchasan;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Goodbye_Iam {
	left: 826px;
	top: 16138px;
	position: absolute;
	overflow: visible;
	width: 270px;
	white-space: nowrap;
	text-align: left;
	font-family: Trattatello;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#Thank_you_For_watching {
	left: 664px;
	top: 16888px;
	position: absolute;
	overflow: visible;
	width: 593px;
	white-space: nowrap;
	text-align: left;
	font-family: Trattatello;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(255,255,255,1);
}
#KakaoTalk_Photo_2023-06-20-13- {
	position: absolute;
	width: 240px;
	height: 230px;
	left: 127px;
	top: 1305px;
	overflow: visible;
}
#n_22 {
	position: absolute;
	width: 277px;
	height: 138px;
	left: 1137px;
	top: 1277px;
	overflow: visible;
}
#n_2_f {
	position: absolute;
	width: 72px;
	height: 138px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Photoshop {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Illustartor {
	left: 0px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#XD {
	left: 0px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#HTML {
	left: 0px;
	top: 89px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#CSS {
	left: 0px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#n_1_gc {
	position: absolute;
	width: 186px;
	height: 136px;
	left: 91px;
	top: 2px;
	overflow: visible;
}
#n_9_gd {
	fill: rgba(255,255,255,1);
}
.n_9_gd {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 18px;
	left: 0px;
	top: 0px;
}
#n_10_ge {
	fill: rgba(255,255,255,1);
}
.n_10_ge {
	position: absolute;
	overflow: visible;
	width: 186px;
	height: 17px;
	left: 0px;
	top: 30px;
}
#n_11_gf {
	fill: rgba(255,255,255,1);
}
.n_11_gf {
	position: absolute;
	overflow: visible;
	width: 186px;
	height: 18px;
	left: 0px;
	top: 59px;
}
#n_12_gg {
	fill: rgba(255,255,255,1);
}
.n_12_gg {
	position: absolute;
	overflow: visible;
	width: 164px;
	height: 17px;
	left: 0px;
	top: 89px;
}
#n_13_gh {
	fill: rgba(255,255,255,1);
}
.n_13_gh {
	position: absolute;
	overflow: visible;
	width: 164px;
	height: 18px;
	left: 0px;
	top: 118px;
}
#n_3_gi {
	position: absolute;
	width: 960px;
	height: 659px;
	left: 960px;
	top: 13321px;
	overflow: visible;
}
#n_3_gj {
	position: absolute;
	width: 1294px;
	height: 790px;
	left: 626px;
	top: 4238px;
	overflow: visible;
}
#n_4_gk {
	position: absolute;
	width: 788px;
	height: 586px;
	left: 86px;
	top: 11290px;
	overflow: visible;
}
#n_1920__1_gl {
	position: absolute;
	width: 800px;
	height: 450px;
	left: 132px;
	top: 14811px;
	overflow: visible;
}
#n_1920__2 {
	position: absolute;
	width: 800px;
	height: 450px;
	left: 992px;
	top: 14811px;
	overflow: visible;
}
#n_1920__3 {
	position: absolute;
	width: 800px;
	height: 450px;
	left: 132px;
	top: 15326px;
	overflow: visible;
}
#n_2_go {
	position: absolute;
	width: 1054px;
	height: 783px;
	left: 913px;
	top: 15052px;
	overflow: visible;
}